.beige {
  background-color: #fff0e7;
}

.footlink {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

#junotechtest {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 45px;
}

body,
.date {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

#blogHeader,
#beigeHeader {
  font-size: 55px;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
  color: #4a455c;
  padding-left: 30px;
  padding-top: 20px;
}

.topnav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

.topnav a:hover {
  background-color: #e3eaef;
}

.topnav .icon {
  display: none;
}

.topnav a {
  display: inline;
  vertical-align: middle;
  color: #4a455c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav img {
  height: auto;
  vertical-align: middle;
  width: 200px;
}

.container {
  padding: 18px;
  display: -ms-grid;
  display: grid;
}

.container .box {
  color: #ffffff;
}

.container .box .blogCardHeader {
  font-size: 20px;
  font-weight: 700;
}

.container .box .description {
  margin: 0px;
  padding: 20px;
  background-color: #4a455c;
}

.container .box img {
  height: auto;
  width: 100%;
  position: relative;
  top: 5px;
  z-index: -100;
}

button {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  background-color: #ff6141;
  border: 0px;
  font-size: 18px;
  color: #ffffff;
}

/*

.container {
  padding: 18px;
  display: flex;
  flex-basis: 70%;
  button {

  }
  item {
    height: 370px;
    width: 300px;
    margin: auto;
    padding: 12px;
    color: $white;
    .blogCardHeader {
      font-size: 20px;
      font-weight: 700;
    }
    .description {
      margin: 0px;
      padding: 20px;
      background-color: $purple;
    }
    img {
      height: auto;
      width: 100%;
      position: relative;
      top: 5px;
      z-index: -100;
    }
  }
}
*/
.blog {
  height: 700px;
}

#image-1 {
  width: 100%;
}

#techContainer {
  padding-top: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
  position: relative;
}

#techHeader {
  margin-top: 25px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
  #techContainer {
    padding-top: 135px;
  }
  #techHeader {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 40px;
  }
  .techText {
    width: 90%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: #d64c31;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #ffffff;
  }
}

@media screen and (min-width: 601px) {
  #techContainer {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 100px;
  }
  #techHeader {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 60px;
  }
  .techText {
    width: 450px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: #d64c31;
    padding-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
    color: #ffffff;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: auto;
    width: 900px;
  }
}
/*# sourceMappingURL=styles.css.map */