* {
  margin: 0;
  padding: 0;
}
// colours
$purple: #4a455c;
$grey: #7c7d98;
$orange: #d64c31;
$beige: #fff0e7;
$white: #ffffff;
$light-blue: #e3eaef;
$buttonorange: #d96228;
$lightbeige: #fdf9f6;
$darkbeige: #ffceb0;

.lightBeigeBack {
  background-color: $lightbeige;
}
.purpleBack {
  background-color: $purple;
}
.beigeBack {
  background-color: $beige;
}
.beigeFont {
  color: $beige;
}
#page {
  background-color: $white;
}

#junotechtest {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 45px;
}

body {
  font-size: 11px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

#blogHeader,
#beigeHeader {
  font-size: 65px;
  font-weight: 520;
  font-family: "Cormorant Garamond", serif;
  color: $purple;
  padding-left: 40px;
  margin-top: 40px;
  padding-top: 25px;
}

// topnav
.topspace {
  padding: 5px;
  background-color: $white;
}
.topnav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: $white;
  a:hover {
    background-color: $light-blue;
  }
  .icon {
    display: none;
  }
  a {
    display: inline;
    vertical-align: center;
    color: $purple;
    padding: 9px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
  img {
    padding-left: 30px;
    padding-right: 10px;
    height: auto;
    vertical-align: middle;
    width: 220px;
  }
}

// images
#image-1 {
  width: 100%;
}

// responsive to window resizing topnav and tech container
#techContainer {
  padding-top: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
  position: relative;
}
#techHeader {
  margin-top: 18px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      display: block;
      text-align: left;
    }
  }
  #techContainer {
    padding-top: 101px;
  }
  #techHeader {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 40px;
  }
  .techText {
    width: 90%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-color: $orange;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    color: $white;
  }
}
@media screen and (min-width: 601px) {
  #techContainer {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 100px;
  }
  #techHeader {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 60px;
  }
  .techText {
    width: 450px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: $orange;
    padding-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
    color: $white;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: auto;
    width: 900px;
  }
}

// blog grid containers
.container {
  padding: 40px;
  display: grid;
  color: $white;
  grid-gap: 2em;
  .date {
    padding-bottom: 10px;
  }

  div {
    background-color: $purple;
  }
  .blogCardHeader {
    font-size: 20px;
    font-weight: 700;
  }
  .blogCardHeader2 {
    font-size: 20px;
    font-weight: 700;
    background-color: $grey;
  }
  .description {
    padding: 20px;
  }
  .whiteBack {
    background-color: white;
    color: black;
  }
  .postDescHead {
    color: $orange;
    background-color: white;
  }

  img {
    height: auto;
    width: 100%;
  }
  // blog boxes
  .box1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .box2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .box3 {
    grid-column: 3;
    grid-row: 1/3;
    height: max-content;
    background-color: $grey;
    .description {
      background-color: $grey;
    }
  }

  .box4 {
    grid-column: 1/3;
    grid-row: 2/5;
  }

  // related posts boxes
  .postBox1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 30px;
  }
  .postBox2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 30px;
  }
  .postBox3 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 30px;
  }
}
// custom button
button {
  font-size: 11px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  background-color: $buttonorange;
  border: 0px;
  color: $white;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

// custom button
.whiteButton {
  font-size: 11px;
  font-weight: 500;
  font-family: "Montserrat", serif;
  background-color: $white;
  border-width: medium medium medium medium;
  border-color: $buttonorange;
  border-style: solid;
  color: #000;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

// footer
footer {
  display: grid;
  grid-template-columns: auto 290px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 11px;
  background-color: $orange;
  color: $white;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 10px;
  grid-gap: 10px;

  img {
    position: relative;
    left: -5px;
    width: 160px;
    height: auto;
  }
  a {
    display: inline;
    color: $white;
    padding: 18px;
    padding-left: 0px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
  .footerHeader {
    font-size: 24px;
    font-weight: 600;
  }
  .footBox {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 63px 35px 20px 33px 45px;
  }
  .subBox {
    padding: 40px;
    margin-top: -80px;
    transform: translate(-40px, 10px);
    display: grid;
    justify-items: start;
    grid-template-columns: auto;
    grid-template-rows: 30px 36px 8px 30px 60px;
    .subHeader {
      font-size: 14px;
      font-weight: 600;
    }
    [type="email"] {
      border-radius: 5px;
      border-style: none;
      border-color: black;
      padding-left: 12px;
    }
    .subButton {
      background-color: $darkbeige;
      border-radius: 5px;
      border-style: none;
      padding-left: 14px;
      padding-right: 14px;
      font-weight: 500;
    }
    i {
      margin-right: 14px;
    }
  }
  #copyright {
    font-weight: 800;
  }
}
