<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css" type="text/css">
  <script src="../js/script.js"></script>
  <title>Technical Test</title>
</head>

<body>
  <!-- navbar with image logo and 4 links that resize. -->
  <div class="topnav" id="myTopnav">
    <img src="../assets/junologo.png">
    <a href="#techHeader">Course</a>
    <a href="#about">About</a>
    <a href="#alumni">Alumni</a>
    <a href="#blogHeader">Blog</a>
    <a class="icon" onclick="navResize()"><i class="fa fa-bars"></i></a>
    <!-- navbar scrolls to #id -->
  </div>

  <div id="techContainer">
    <img id="image-1" src="../assets/image-1.jpg">
    <div class="techText">
      <div id=techHeader>Tech Challenge</div>
      Lorem ipsum dolor sit amet, consectutur adipiscing elit.
      Maecenas varius tortor nibh, sit amet tempor nibh finibus et.
      Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
    </div>
  </div>

  <div id="blogHeader">Blog</div>
  <div class="container blog">
    <div class="box1">
      <img id="image-2" src="../assets/image-2.jpg">
      <div class="description">
        <div class="blogCardHeader">Juno Tech Test</div>
        <p>
          Lorem ipsum dolor sit amet, consectutur adipiscing elit.
          Maecenas varius tortor nibh.
        </p>
        <button>Read More</button>
      </div>
    </div>

    <div class="box2">
      <img id="image-3" src="../assets/image-3.jpg">
      <div class="description">
        <div class="blogCardHeader">Juno Tech Test</div>
        <p>
          Lorem ipsum dolor sit amet, consectutur adipiscing elit.
          Maecenas varius tortor nibh.
        </p>
        <button>Read More</button>
      </div>
    </div>

    <div class="box3">
      <img id="image-4" src="../assets/image-4.jpg">
      <div class="description">
        <div class="blogCardHeader">About us</div>
        <p>
          Lorem ipsum dolor sit amet, consectutur adipiscing elit. Maecenas varius tortor nibh, sit amet
          tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris
          malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor
          pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus.
        </p>
        <button>Read More</button>
      </div>
    </div>

    <!-- blog container -->
    <div class="box4">
      <img id="image-5" src="../assets/image-5.jpg">
      <div class="description">
        <div class="blogCardHeader">Juno Tech Test</div>
        <p>
          Lorem ipsum dolor sit amet, consectutur adipiscing elit.
          Maecenas varius tortor nibh, sit amet tempor nibh finibus et.
          Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
          Mauris malesuada nisi sit amet augue accumsan tincidunt.
        </p>
        <button>Read More</button>
      </div>
    </div>
  </div>
  <!-- heading by imported css selected by id
	container to hold blog section
	4 flexbox containers, must be cards, buttons
	css for buttons and cards -->
  <div class="beige" id="beigeHeader">Related Post:</div>
  <div class="beige container">

    <!-- container "Related Post" -->
    container, background beige
    related post
    3 flexbox containers, cannot use bootstrap cards,
    use equivalent
  </div>

  <footer>
    bottom footer navbar?
    container on right with front z-index
  </footer>

</body>

</html>