<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <script src="../js/script.js"></script>
    <title>Technical Test</title>
</head>

<body>
    <!-- navbar with image logo and 4 links that resize. -->
    <div class="topnav" id="myTopnav">
        <img src="../assets/junologo.png">
        <a href="#courses">Courses</a>
        <a href="#about">About</a>
        <a href="#alumni">Alumni</a>
        <a href="#blog">Blog</a>
        <a class="icon" onclick="navResize()"><i class="fa fa-bars"></i></a>
        <!-- navbar links direct to parts of page (#?) -->
    </div>

    <div class="container" id="techSection">
        <img id="image-1" src="../assets/image-1.jpg">
        <div class="techChallenge">
            <h1 id=techChallengeHeader>Tech Challenge</h1>
            Lorem ipsum dolor sit amet, consectutur adipiscing elit.
            Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
            hendrerit molestie.
        </div>
    </div>

    </div>



    <!-- container contains 2 images -->
    container for image top left
    image bottom right, must stay 100% width
    text box container, forward z index, padding, latin

    <!-- blog container -->
    heading by imported css selected by id
    container to hold blog section
    4 flexbox containers, must be cards, buttons
    css for buttons and cards
    <img id="image-2" src="../assets/image-2.jpg">
    <!-- container "Related Post" -->
    container, background beige
    related post
    3 flexbox containers, cannot use bootstrap cards,
    use equivalent

    bottom footer navbar?
    container on right with front z-index
</body>

</html>