<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <script src="../js/script.js"></script>
    <title>Technical Test</title>
</head>

<body>
    <!-- navbar with image logo and 4 links that resize. -->
    <div class="topnav" id="myTopnav">
        <img src="../assets/junologo.png">
        <a href="#techHeader">Course</a>
        <a href="#about">About</a>
        <a href="#alumni">Alumni</a>
        <a href="#blogHeader">Blog</a>
        <a class="icon" onclick="navResize()"><i class="fa fa-bars"></i></a>
        <!-- navbar links direct to parts of page (#?) -->
    </div>

    <div id="techContainer">
        <img id="image-1" src="../assets/image-1.jpg">
        <div class="techText">
            <div id=techHeader>Tech Challenge</div>
            Lorem ipsum dolor sit amet, consectutur adipiscing elit.
            Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
            hendrerit molestie.
        </div>
    </div>

    <div id="blogHeader">Blog</div>
    <div class="container">
    <div class="blog1">
        <item>
            <img id="image-2" src="../assets/image-2.jpg">
            <div class="description">
                <div class="blogCardHeader">Juno Tech Test</div>
                <p>Lorem ipsum dolor sit amet, consectutur adipiscing elit. Maecenas varius tortor nibh.</p>
                <button>Read More</button>
            </div>
        </item>

        <item>
            <img id="image-3" src="../assets/image-3.jpg">
            <div class="description">
                <div class="blogCardHeader">Juno Tech Test</div>
                <p>Lorem ipsum dolor sit amet, consectutur adipiscing elit. Maecenas varius tortor nibh.</p>
                <button>Read More</button>
            </div>
        </item></div>
        <div class="blog2 container">
            <item>
                <img id="image-4" src="../assets/image-4.jpg">
                <div class="description">
                    <div class="blogCardHeader">Juno Tech Test</div>
                    <p>Lorem ipsum dolor sit amet, consectutur adipiscing elit. Maecenas varius tortor nibh.</p>
                    <button>Read More</button>
                </div>
            </item>
        </div>
    </div>
    <div class="blog3 container">
        <!-- blog container -->
        <item>
            <img id="image-5" src="../assets/image-5.jpg">
            <div class="description">
                <div class="blogCardHeader">Juno Tech Test</div>
                <p>Lorem ipsum dolor sit amet, consectutur adipiscing elit. Maecenas varius tortor nibh.</p>
                <button>Read More</button>
            </div>
        </item>
    </div>
    <!-- heading by imported css selected by id
    container to hold blog section
    4 flexbox containers, must be cards, buttons
    css for buttons and cards -->
    <div class="beige" id="beigeHeader">Related Post:</div>
    <div class="beige container">

        <!-- container "Related Post" -->
        container, background beige
        related post
        3 flexbox containers, cannot use bootstrap cards,
        use equivalent
    </div>

    <footer>
        bottom footer navbar?
        container on right with front z-index
    </footer>

</body>

</html>