<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-gap: 1em;
        }

        .wrapper>div {
            background: #eee;
            padding: 1em;
        }

        .wrapper>div:nth-child(odd) {
            background: #ddd;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic voluptas, nostrum numquam facere recusandae
            dolorem. Pariatur, facere. Quidem, repellendus quod asperiores nisi blanditiis officiis deleniti iste
            distinctio! Ipsa magnam consectetur veritatis maiores nesciunt dolor saepe quas ratione fugit facere autem
            tenetur doloribus neque, quod, error alias? Deleniti vitae, nulla quia libero qui enim necessitatibus amet
            iste harum dolores laudantium. Temporibus excepturi dolorem tempore unde reprehenderit molestiae corrupti
            omnis similique. Officiis voluptate quam at exercitationem cupiditate reiciendis ipsam magni! Laudantium,
            amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse amet voluptatem reprehenderit ipsam
            consequatur, aliquam quisquam voluptas maiores minima sed voluptatibus dolor optio minus suscipit porro
            officia ex temporibus?
        </div>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic voluptas, nostrum numquam facere recusandae
            dolorem. Pariatur, facere. Quidem, repellendus quod asperiores nisi blanditiis officiis deleniti iste
            distinctio! Ipsa magnam consectetur veritatis maiores nesciunt dolor saepe quas ratione fugit facere autem
            tenetur doloribus neque, quod, error alias? Deleniti vitae, nulla quia libero qui enim necessitatibus amet
            iste harum dolores laudantium. Temporibus excepturi dolorem tempore unde reprehenderit molestiae corrupti
            omnis similique. Officiis voluptate quam at exercitationem cupiditate reiciendis ipsam magni! Laudantium,
            amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse amet voluptatem reprehenderit ipsam
            consequatur, aliquam quisquam voluptas maiores minima sed voluptatibus dolor optio minus suscipit porro
            officia ex temporibus?
        </div>
    </div>
</body>

</html>